CORS_ORIGINS=http://localhost:8081,http://localhost:5173
MANGAKO_DIMENSION_WORKER_URL=https://mangabuddy-image-dimension.mangako-workers.workers.dev/
MANGAKO_IMAGE_PROXY_WORKER_URL=https://mangabuddy-image-proxy.mangako-workers.workers.dev/
MANGAKO_ALLOWED_IMAGE_DOMAINS=fanfox.net,mangadex.org
MANGAKO_CLOUDFLARE_ACCOUNT_ID=your-cloudflare-account-id
MANGAKO_CLOUDFLARE_API_TOKEN=your-cloudflare-api-token
DEV_ENVIRONMENT=false